ctranslate2==4.2.1
editdistance
faster-whisper@https://github.com/guillaumekln/faster-whisper/archive/2f6913efc85306fc4f900da6c67f9a06a7d54a3d.tar.gz
future==0.18.2
huggingface_hub==0.16.4
keyboard
langcodes
language-data
openvr
pillow
pyaudio
pydub
python-osc
pyyaml
sentence_splitter
transformers>=4.21.0

