av==13.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.5.0
editdistance==0.8.1
faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/53bbe5401683c9a7549db62642e3d4535956b95c.tar.gz#sha256=17b49d15a58e18d78b4639af59bd35da12bc0bf3bb73c9af4ad48891dd6793f7
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.10.0
future==0.18.2
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.10
keyboard==0.13.5
langcodes==3.4.1
language_data==1.2.0
marisa-trie==1.2.1
mpmath==1.3.0
numpy==2.1.3
onnxruntime==1.20.0
openvr==2.5.101
packaging==24.2
pillow==11.0.0
protobuf==5.28.3
PyAudio==0.2.14
pydub==0.25.1
pyreadline3==3.5.4
python-osc==1.9.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.4.5
sentence-splitter==1.4
sympy==1.13.3
tokenizers==0.15.2
tqdm==4.67.0
transformers==4.35.2
typing_extensions==4.12.2
urllib3==2.2.3
wget==3.2
