av==12.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
coloredlogs==15.0.1
ctranslate2==4.2.1
editdistance==0.6.2
faster-whisper @ https://github.com/guillaumekln/faster-whisper/archive/2f6913efc85306fc4f900da6c67f9a06a7d54a3d.tar.gz#sha256=c389ad787c8cdafcb13d31f8bae788083eb4e490819aad6b49d76c82e490a388
filelock==3.12.3
flatbuffers==23.5.26
fsspec==2023.9.0
future==0.18.2
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
keyboard==0.13.5
langcodes==3.3.0
language-data==1.1
marisa-trie==0.7.8
mpmath==1.3.0
numpy==1.25.2
onnxruntime==1.14.1
openvr==1.26.701
packaging==23.1
Pillow==10.0.0
protobuf==4.24.3
PyAudio==0.2.13
pydub==0.25.1
pyreadline3==3.4.1
python-osc==1.8.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
safetensors==0.3.3
sentence-splitter==1.4
sympy==1.12
tokenizers==0.13.3
tqdm==4.66.1
transformers==4.33.1
typing_extensions==4.7.1
urllib3==2.0.4
