editdistance
flash-attn==2.3.6
future==0.18.2
huggingface_hub==0.16.4
keyboard
langcodes
language-data
openvr
onnxruntime
packaging
pillow
pyaudio
pydub
python-osc
pyyaml
sentence_splitter
transformers==4.35.2
--extra-index-url https://download.pytorch.org/whl/cu121
torch

