ctranslate2==4.5.0
editdistance
faster-whisper@https://github.com/guillaumekln/faster-whisper/archive/53bbe5401683c9a7549db62642e3d4535956b95c.tar.gz
future==0.18.2
huggingface_hub==0.16.4
keyboard
langcodes
language-data
openvr
pillow
pyaudio
pydub
python-osc
pyyaml
sentence_splitter
transformers>=4.21.0
wget

